/* Write your code here: */

h1, h2 {
    color: blueviolet;
}
/* CHILD */
/* div > p */
.box > p {
    color: firebrick;
}
/* DECENDANT AT ANY LEVEL */
.box li {
    color: blue;
}
/* CHAINING */
li.done {
    color: seagreen;
}
/* child + chaining */
ul p.done {
    font-size: 0.5rem;
}