<h1>App Component File</h1>
<!-- <app-server></app-server> -->
<div class="app-server"></div>
<app-yellow></app-yellow>
<app-red></app-red>
<app-green></app-green>
<p>Server {{ServerName}} with PID {{ServerPID}} is {{ServerStatus}} </p>
<button [disabled]="buttonState" (click)="toggleServerStatus()">Toggle Server Status</button>

<input type="text" placeholder="Server Name" [(ngModel)]="ServerName">
<input type="text" placeholder="Server Name" [ngModel]="ServerName">
<p>{{ServerName}}</p>

<label for="FName">First Name:  </label>
<input type="text" placeholder="First Name" [(ngModel)]="FName">                  <!-- Create a input get the first name-->
<p>{{FName}}</p>                                                                  <!-- Show  the First Name -->
<button *ngIf='FName' (click)="clearFNameField()">Clear First Name</button>       <!-- Clear the First Name -->
<!-- https://stackblitz.com/edit/input-clear?file=src/app/app.component.html -->  <!-- Hide button if empty -->

<h1 [ngStyle]="{color: getColor()}"> This is an example of ngIf</h1>
<h2 [ngClass]="{white : flag}">This is just an example of ngClass</h2>
<p *ngIf="flag; else elseblock">Flag is true</p>
<ng-template #elseblock>
    <p>Flagd is false</p>
</ng-template>
<button (click)="toggleFlag()">Toggle Flag</button>

<h1>Student Roster</h1>
<input type="text" placeholder="name" [(ngModel)]="currentName">
<button (click)="add(); toggleFlag()">Submit Student Name</button>
<li *ngFor="let names of studentRoster">{{names}}</li>

<!-- This was a bit messy 
    I am not sure this is what he wanted.
    The text is supposed to dissapear and I left a - there for formating.
    I could use something like *ngIf='FName' to have the field dissapear,
    but it may be that we need to switch between two states. -->
<button (click)="toggleParagraph()">Toggle Paragraph</button>  
<!-- <p *ngIf="paraFlag; else elseblock2" [ngClass]="{wild : paraSetStyle}">This is a paragraph that I am supposed to do something with.</p> --> <!-- working switches the paragraph but not the style -->
<!-- <ng-template #elseblock2><p></p></ng-template> -->

<p *ngIf="paraFlag" [ngClass]="{wild : paraSetStyle}">This is a paragraph that I am supposed to do something with.</p>
