p {
    clear: both;
    position: relative;
    background-color: red;
    padding-left: 20px;
    width: 120px;

    animation: ani 3s infinite;
    animation-delay: .5s;
}


@keyframes ani {
    0% {
        left: 0;
    }
    50% {
        left: 720px;
    }
    100% {
        left: 0;
    }
}
    